:root {
  --color-background-primary: #2f303a;
  --color-text-background: #fff;
  --color-background-third: #f5f4fa;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --color-footer-link: #ffffff99;
  --btn-background-color: #188ce8;
}
body {
  color: var(--primary-text-color);
  font-family: 'Roboto', Arial, sans-serif;
}
.list {
  list-style: none;
}
/* header */
.header {
  background-color: var(--color-text-background);
}
.header-logo {
  color: #000;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-text {
  color: var(--accent-color);
}
.header-nav-list,
.header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-nav-link {
  color: var(--title-text-color);
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.header-link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.header-nav-link.current {
  color: var(--accent-color);
}
/* hero */
.hero {
  background-color: var(--color-background-primary);
}
.hero-title {
  color: var(--color-text-background);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  color: var(--color-text-background);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--btn-background-color);
}
/* features */
.features {
  background-color: var(--color-text-background);
}

.features-subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* benefits, team */
.benefits {
  background-color: var(--color-text-background);
}
.benefits-title,
.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  background-color: var(--color-background-third);
}
.team-item {
  background-color: var(--color-text-background);
}
.team-subtitle {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/* projects */
.projects {
  background-color: var(--color-text-background);
}
.projects-btn {
  color: var(--title-text-color);
  background-color: var(--color-background-third);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.projects-btn:hover,
.projects-btn:focus {
  color: var(--color-text-background);
  background-color: var(--accent-color);
}
.projects-btn.current {
  color: var(--color-text-background);
  background-color: var(--accent-color);
}
.projects-item {
  background-color: var(--color-text-background);
}
.projects-subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
/* footer */
.footer {
  background-color: var(--color-background-primary);
}

.footer-logo {
  color: var(--color-text-background);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-contacs {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-text {
  color: var(--color-text-background);
}
.footer-link {
  color: var(--color-footer-link);
  text-decoration: none;
}
